<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<!--@thymesVar id="event" type="com.insat.gestionformation.models.Event"-->
<!--@thymesVar id="name" type="String"-->
<!--@thymesVar id="capcity" type="int"-->
<!--@thymesVar id="description" type="String"-->
<!--*/-->
<body>
<h3>All Events:</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Capacity</th>
        <th>Description</th>
    </tr>
    <!--/*@thymesVar id="events" type="List<Event>"*/-->
    <tr th:each="event : ${events}" >
        <td th:text = "${event.name}"> </td>
        <td th:text = "${event.capacity}"> </td>
        <td th:text = "${event.description}"> </td>
        <td><a href="#" th:href="@{delete/__${event.id}__}">delete</a></td>
    </tr>
</table>
<a href="add"> Add a new event</a>
</body>
</html>
