<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <style>
        .hidden-xs {
            display: inline-block;
        }

        body {
            background-size: cover;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<!--@thymesVar id="event" type="com.insat.gestionformation.models.Event"-->
<!--@thymesVar id="name" type="String"-->
<!--@thymesVar id="capcity" type="int"-->
<!--@thymesVar id="description" type="String"-->
<!--*/-->
<body th:background="@{/bg.jpg}">

<nav class="navbar navbar-default navbar-fixed">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gestion Formation</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <div class="glyphicon glyphicon-user" style="display: inline-block"></div> &nbsp;
                        <div th:switch="${connected}" style="display: inline-block">
                            <div th:case="${true}">
                                <div th:text="${usr.getName()+' '+usr.getFamilyName()}"></div>
                            </div>
                            <div th:case="*">Sign in</div>
                        </div>
                        <span class="caret"></span></a>
                    <div class="dropdown-menu" style="width: 300px; padding: 20px;">
                        <div th:switch="${connected}">
                            <div th:case="${true}">
                                <div>
                                    <h5 th:text="${usr.getMail()}"></h5>
                                    <h5 th:if="${usr.isAdmin()}"><a href="/administration">Administration Panel</a> </h5>
                                    <hr/>
                                    <a href="/disconnect">
                                        <div class="glyphicon glyphicon-log-out"></div>
                                        Disconnect</a>

                                </div>
                            </div>
                            <div th:case="*">
                                <form action="#" th:action="@{/signin}" th:object="${user}" method="post">
                                    <div class="form-group">
                                        <input type="email" id="email" placeholder="email" class="form-control"
                                               th:field="*{mail}"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="pwd" placeholder="password" class="form-control"
                                               th:field="*{passwd}"/>
                                    </div>
                                    <button class="btn btn-default" type="submit" href="/sginin">Sign in</button>
                                </form>
                                <hr/>
                                <a href="/signup">Don't have an Account? Sign up!</a>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h2>All Events:</h2>
        </div>
        <div class="col-xs-4" align="right">
            <div th:switch="${connected}">
                <div th:case="${true}">
                    <a class="btn btn-default btn-success" style="margin-top: 15px;" href="/event/add">
                        <div class="glyphicon glyphicon-plus"></div>
                        <div class="hidden-xs">Add an event</div>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <br/>

    <table id="eventsTable" class="table table-bordered" style="background-color: aliceblue">
        <thead>
        <tr>
            <th>Name</th>
            <th>Capacity</th>
            <th>Description</th>
            <th>Host</th>
            <th>Date</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
        </thead>
        <!--/*@thymesVar id="events" type="List<Event>"*/-->
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.name}"></td>
            <td th:text="${event.capacity - event.getParticipants().size() }+'/'+${event.capacity}"></td>
            <td th:text="${event.description}"></td>
            <td th:text="${event.host}?${event.host.getName()+' '+event.host.getFamilyName()}:''"></td>
            <td th:text="${event.date}?${#dates.format(event.date,'dd/MM/yyyy')}:''"></td>
            <td th:text="${event.time}?${#dates.format(event.time,'hh:mm aa')}:''"></td>
            <div th:switch="${connected}">
                <td th:case="${true}"><a class="btn btn-success" th:href="@{/event/details/__${event.id}__}">
                    <div class="glyphicon glyphicon-info-sign"></div> &nbsp;Details</a>
                </td>
                <td th:case="*"><a class="btn btn-danger" th:href="@{/event/details/__${event.id}__}">
                    <div class="glyphicon glyphicon-info-sign"></div> &nbsp;Details</a>
                </td>
            </div>


        </tr>
        </tbody>
    </table>
</div>


<script
        src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#eventsTable').DataTable();
    });
</script>
</body>
</html>
