<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<form action="#" th:action="@{/signin}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>Mail</td>
            <td><input type="text" th:field="*{mail}"></input></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{passwd}"></input></td>
        </tr>
        <tr>
            <button type="submit">Sign in</button></tr>
    </table>

</form>
</body>
</html>
